<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AssignMint, <%= @teacher.first_name %>!</h1>
    <p>
      You have successfully signed up as a teacher.
    </p>
  </body>
</html>