/* src/css/MintyTheme.css */

body {
    background-color: #e0f2f1;
}

.minty-background {
    background-color: #e0f2f1;
}

.minty-button {
    font-size: 24px;
    color: #007f7f;
    background: #bbdad8;
    font-weight: bold;
    align-self: flex-start;
    cursor: pointer;
    border: 2px solid #007f7f;
    border-radius: 5px;
    margin: 15px;
}

.minty-button:hover {
    background-color: #91ebe3;
}

.minty-delete-button {
    font-size: 24px;
    color: #007f7f;
    background-color: #bbdad8;
    font-weight: bold;
    align-self: flex-start;
    cursor: pointer;
    border: 2px solid #007f7f;
    border-radius: 5px;
}
.minty-delete-button:hover {
    background-color: #ff9696;
}

.min-height {
    min-height: 185px;
}

.tiny-minty-delete-button {
    position: absolute;
    top: 15px;
    right: -60px;
    font-size: 60px; 
    background: transparent;
    border: none;
    cursor: pointer;
  }
.tiny-minty-edit-button {
    position: absolute;
    top: 0;
    left: -60px; 
    font-size: 55px; 
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .tiny-minty-delete-button:hover {
    background-color: #ff9696 !important;
  }

.minty-text {
    color: #007f7f;
}

.minty-highlight {
    color: #00cc66;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-container :hover {
    background-color: #91ebe3;
}

.assignment-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    /* margin-left: 25%; */
    margin-right: 15%;
}


.assignment {
    /* background-color: #ff9696; */
    padding: 20px;
    margin: 5px;
    height: 200px;
    width: 250px;
    /* max-width: 300px; */
}
.assignment.incomplete {
    background-color: #ff9696;
}

.assignment.complete {
    background-color: #8ce8b7;
}

.custom-nav-link {
    text-decoration: inherit;
    color: inherit;
    background-color: inherit;
}
.custom-nav-link :hover{
    /* text-decoration: none; */
    color: #007f7f;
    background-color: #91ebe3;
    width: 250px;
}

.deck {
    background: #bbdad8;
    text-align: center;
}


.student {
    background: #bbdad8;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    max-width: 400px;
    padding-left: 20px;
    /* min-height: 100px; */
}

.student :hover {
    background-color: #91ebe3;
}

.student-box {
    margin-top: 50px;
    margin-left: 15px;
}



.content {
    margin-left: 200px;
    padding: 20px;
    background-color: #e0f2f1;
}

.content h1, 
.content h2, 
.content h3, 
.content p,
.content label {
    color: #007f7f;
}
/* .content h1:hover,  
.content p:hover {
    color: #007f7f;
    background-color: #91ebe3;
} */

.content a {
    color: #007f7f;
    text-decoration: none;
}

/* .content a:hover {
    background-color: #91ebe3;
} */

.errors {
    color: #db7272;
    margin: 10px;
}

.minty-highlight.checkmark {
    font-size: 40px;
}

.selected {
    background-color: #58e69f;;
}

.login {
    font-size: large;
    font-weight: bold;
    margin:5px;
    /* max-width: 4000px; */
    white-space: nowrap;
}

.login-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    padding: 10px;
    max-width: 150px;
    align-items: center;
}

.input-field {
    font-size: large;
    /* font-weight: bold; */
    margin:5px;
}

.off-center {
    /* text-align: center; */
    margin-left: 23.5%;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 25%;
}
